ul,li{
	list-style: none;
}
.first-floor{
	background: #fff;
}

.first-left{
	float: left;
 	width: 49%;
}
.first-left h1{
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	text-align: left;
	text-indent: 25px;
	background-color: #d56b74;
}
.first-left ul{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: 380px;
}
.first-left ul li{
	position: relative;
	margin: 10px;
	flex: 1;
	background-color: #faf5fb;
}
.first-left-title {
	padding: 20px 5px 0px 25px;
}
.first-left-title h2 {
	text-align: left;
	color: #e77551;
}
.first-left-title .color2{
	color: #75873d;
}
.first-left-title h3 {
	text-align: left;
	color: #f0b5a6;
}
.first-left-title h4 {
	text-align: left;
	color: #e77551;
}
.first-right-title {
	padding: 20px 5px 0px 25px;
}
.title2 {
	padding: 10px 5px 0px 15px;
}
.first-right-title h2 {
	text-align: left;
	color: #e6b849;
}
.first-right-title .color2{
	color: #e6b849;
}
.first-right-title h3 {
	text-align: left;
	color: #eed7a0;
}
.first-right-title h4 {
	text-align: left;
	color: #e6b849;
}
.first-left-img{
	// display: block;
	position: absolute;
	bottom:0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
}
.list-title {
	padding: 20px 5px 0px 25px;
}
.list-title h2 {
	text-align: left;
	color: #75873d;
}
.list-title h3 {
	text-align: left;
	color: #b6bf9a;
}
.list-title h4 {
	text-align: left;
	color: #75873d;
}
.list2-title {
	padding: 20px 5px 0px 25px;
}
.list2-title h2 {
	text-align: left;
	color: #986545;
}
.list2-title h3 {
	text-align: left;
	color: #c7ae9e;
}
.list2-title h4 {
	text-align: left;
	color: #986545;
}.list3-title {
	padding: 20px 5px 0px 25px;
}
.list3-title h2 {
	text-align: left;
	color: #8e4b74;
}
.list3-title h3 {
	text-align: left;
	color: #c3a0b6;
}
.list3-title h4 {
	text-align: left;
	color: #8e4b74;
}.list4-title {
	padding: 20px 5px 0px 25px;
}
.list4-title h2 {
	text-align: left;
	color: #8e4b74;
}
.list4-title h3 {
	text-align: left;
	color: #c3a0b6;
}
.list4-title h4 {
	text-align: left;
	color: #8e4b74;
}.list5-title {
	padding: 20px 5px 0px 25px;
}
.list5-title h2 {
	text-align: left;
	color: #bb425a;
}
.list5-title h3 {
	text-align: left;
	color: #da9baa;
}
.list5-title h4 {
	text-align: left;
	color: #bb425a;
}
.list-img{
	// display: block;
	position: absolute;
	bottom:0;
	right: 0;
	max-width: 100%;
	max-height: 60%;
}


.first-right{
	float: right;
	width: 49%;
}
.first-right h1{
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	text-align: left;
	text-indent: 25px;
	background-color: #e6b849;
}
.first-right .first-right-list1{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: 270px;
}
.first-right .first-right-list1 li{
	position: relative;
	flex:1;
	margin:10px;
	background-color: #faf5fb;
}
.first-right .first-right-list2{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	height: 110px;
}
.first-right .first-right-list2 li {
	position: relative;
	flex:1;
	margin: 10px;
	border: 1px solid #faf5fb;
}



.second-floor{
	width: 100%;
	margin-bottom: 30px;
}

.second-floor h1{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #fff;
	text-indent: 25px;
	text-align: left;
	background-color: #75873d;
}
.color3 h1{
	background-color: #986545;
}
.second-floor ul{
}
.second-floor ul li{
	position: relative;
	float: left;
	background-color: #faf5fb;
	width: 280px;
	height: 185px;
	margin-left: 15px;
	margin-top: 15px;
}
.second-floor ul .list{
	width: 280px;
	height: 385px;
	margin-left: 15px;
	margin-top: 15px;
}
.second-floor ul .list2{
	width: 280px;
	height: 385px;
	margin-left: 15px;
	margin-top: 15px;
	background-color: #fff;
}
.list2 ul li {
	width: 100%;
	height: 185px;
	margin: 0 0 15px 0;
}

.four-floor {
	width: 100%;
	margin-bottom: 30px;
}
.four-left{
	float: left;
	width: 49%;
}
.four-left h1{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #fff;
	text-indent: 25px;
	text-align: left;
	background-color: #8e4b74;
}
.four-right {
	float: right;
	width: 49%;
}
.four-right h1{
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #fff;
	text-indent: 25px;
	text-align: left;
	background-color: #6c5086;
}
.four-floor ul li{
	position: relative;
	float: left;
	background-color: #faf5fb;
	width: 280px;
	height: 185px;
	margin-left: 10px;
	margin-top: 15px;
}
.color5 h1{
	background-color: #bb425a;
}













